/***************************** BODY ****************************/

body{

    background-image: url(image/vecteezy_side-view-monochrome-image-of-a-small-luxury-gift-box-with-a_27100457.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}

body h1{

    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: bisque;
    font-weight: bolder;
    padding: 1em 0 1.5em 0;

}

/***************************** CONTAINER ****************************/
.container{

    position: relative;
    padding: 1.5em 1.5em;
     
}

#cantainer-category{

    display: flex;
    width: 100%;
    
}

/************************************************* MON PANIER **********************************************************/

/********** Table **********/
#recap {

    width: 50%;
    margin-left: 2em;

}

/********** Thead **********/

#category {

    border-bottom: 3px solid white;
 
}

.category-title{

    width: 8%;

}

/********** Tr **********/
#title th{
    
    color: bisque;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    
}

/********** Products **********/

#product-hover {

    color: white;
    font-size: 1.5em;
    border-bottom: 1px solid white;
    text-align: center;
   
}

#product-hover:hover{

    color: black;
}

#categoryQtt{

    display: flex;
    gap: 15px;
    justify-content: center; 

}

#quantite a {

    display: block; 

}

/********** Icon **********/
.uk-alert-success{

    width: 15%;
    visibility: visible;
    
}

.hidden{
    visibility: hidden;
}

.icon-arrow{

    color: bisque;
    
}

.icon_trash{

    color: white;

}

.icon_trash:hover{

    color: red;
   
}

.icon{

    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    
}

.icon:hover{

    color: white;
    background-color: red;
    
}


/********** Total **********/

#total-container{

    display: flex;
    justify-content: right ;
    align-items: center;
    width: 52%;
    color: bisque;
     
}

/********** Total Nombre Article **********/
#total{

    font-size: 1.5em;

}

#article{

    font-size: 1.2em;

}


/****************************************************** INDEX ************************************************************/

.panier {

    color: bisque;
    font-size: 1.2em;
    position: absolute;
    align-items: center;
    top: 60px;
    right: 70px;

}

.total-panier {

    position: absolute;
    font-size: .8em;
    font-weight: lighter;
    top: -9px;
    right: 2px;

}

.icon-cart:hover {

    color: white;

}

/***************************** FORMULAIRE ****************************/
/************ Input ***********/
.element label,
input{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
   
}

.element label{

    font-size: 1.5em;
    font-weight: bolder;
    color: bisque;
    width: 50%;
    
}

.element input{

   width: 50%;
   padding: .8em 0;
   text-align: center;
   background-color: rgb(245, 238, 229);
   color: rgba(5, 43, 25, 0.726);
   font-weight: bold;

}

/************ Button ***********/
.btn{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-bottom: 3em;
    

}

.btn input {

    background-color: bisque;
    cursor: pointer;

}

/************* Redirection *************/
#redirection {

    width: 100%;
    position: absolute;
    top:85px;
    left: 30px;

}

#redirection a{

    color: bisque;
    padding: .3em .6em;
    width: 10%;
    
}

